.card {
    width: 250px;
    height: 300px;
    background-color: #d1b855;
    border: 5px #2b4163 solid;
    border-radius: 5px;
}

.card-image {
    width: 230px;
    height: 150px;
    background-color: #f7e499;
    margin: 2.5px;
}

.card-description {
    border: 1px solid gray;
    width: 230px;
    height: 80px;
    text-align: left;
    padding: 4px;
    margin: 2.5px;
    font-size: 10pt;
    overflow: hidden;
    background-color: #f7e499;
}

.card-stat-container {
    width: 230px;
    height: 25px;
    margin: 2.5px;
}

.card-strength-stat {
    width: 33%;
    height: 25px;
    background-color: darkred;
    color: white;
    float: left;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card-magic-stat {
    width: 33%;
    height: 25px;
    background-color: darkblue;
    color: white;
    float: left;
}

.card-tech-stat {
    width: 33%;
    height: 25px;
    background-color: darkorange;
    color: white;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}